.checkboxStep{

}

.genderChoiceStuf{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.genderChoiceStuf button{
  border: 1px solid #cdcddb;
  border-radius: 10px;
  width: 47%;
  outline: none;
  cursor: pointer;
  background-color: #fff;
  -webkit-transition: all 0.3s 0s ease;
  -moz-transition: all 0.3s 0s ease;
  -o-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease;
}

.genderChoiceStuf img{
  width: 120px;
  display: block;
  margin: 0 auto;
}

.checkbox input{
  height: 15px;
  width: 15px;
}

.checkbox label{
  font-family: 'Thiccboi Semibold', sans-serif;
  padding-left: 10px;
  position: relative;
  top: -1px;
  margin-bottom: 10px;
  display: inline-block;
}

.actionArea{
  width: 100%;
  display: flex;
  justify-content: end;
}

.divideLine{
  margin-top: 30px;
  height: 2px;
  background-color: #e5e5e5;
  opacity: 0.7;
  margin-bottom: 110px;
}

.submitBtn{
  padding: 20px 35px;
  background-color: #0c75ff;
  color: #ffffff;
  font-family: 'Thiccboi Semibold', sans-serif;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: all 0.3s 0s ease;
  -moz-transition: all 0.3s 0s ease;
  -o-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease;
}

.submitBtn:hover{
  transform: translateY(-2px);
}

.submitBtn:active{
  transform: translateY(0px);
}

.backBtn{
  padding: 20px 35px;
  color: #02044a;
  font-family: 'Thiccboi Semibold', sans-serif;
  outline: none;
  margin-right: 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: all 0.3s 0s ease;
  -moz-transition: all 0.3s 0s ease;
  -o-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease;
}

.backBtn:hover{
  transform: translateY(-2px);
}

.backBtn:active{
  transform: translateY(0px);
}
