*{
  margin: 0;
  padding: 0;
  font-family: 'Thiccboi', sans-serif;
}

@font-face {
  font-family: "Thiccboi";
  src: local("Thiccboi"),
  url("./assests/font/THICCCBOI-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Thiccboi Semibold";
  src: local("Thiccboi Semibold"),
  url("./assests/font/THICCCBOI-SemiBold.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Thiccboi Bold";
  src: local("Thiccboi Bold"),
  url("./assests/font/THICCCBOI-Bold.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Thiccboi ExtraBold";
  src: local("Thiccboi ExtraBold"),
  url("./assests/font/THICCCBOI-ExtraBold.ttf") format("truetype");
  font-weight: normal;
}

